body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #455A64;
    background-color: #fff;
}

.navbar {
	background-color: #607D8B;
}

.row {
	background-color: #FFF8E1;
}

.list-group-item {
    border: none;
}

.col-2 {
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e3dfd1;;
    border-right: 1px solid #eee;
	border-right: 1px solid #E0E0E0;
}

.list-group {
	padding-bottom: 30px;
}

.list-group-item {
	background-color: #e3dfd1;;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.list-group-item.active {
	background-color: #607D8B;
	border-radius: 0;
}

.active>a {
	color: white;
	text-decoration: none;
}

.not-active {
    color: #607D8B;
    text-decoration: none;
}

.not-active>a {
    color:  #607D8B;
    text-decoration: none;	
}

.list-group-item.not-active:hover {
	background-color: #e3e3e3;

}

.menu {
	/*right: -320px;*/
	position: relative;
}

.col-10 {
	padding: 25px 50px 50px;
}

.circle {
	height: 215px;
	width: 260px;
	border-radius: 50%;
	margin-bottom: 10px;
}

h5, h6 {
	text-align: center;
}

h6 {
	margin-bottom: 60px;
}

@media screen and (min-width: 400px) {
   
}

@media screen and (max-width: 1650px) {
    .circle {
        height: 195px;
		width: 240px;
    }
}

@media screen and (max-width: 1450px) {
    .circle {
        height: 175px;
		width: 220px;
    }
}

/*760*/

@media screen and (max-width: 1250px) {
    .circle {
        height: 155px;
		width: 200px;
    }
}

@media screen and (max-width: 1250px) {
    .circle {
        height: 135px;
		width: 180px;
    }
}

@media screen and (max-width: 1050px) {
    .circle {
        height: 115px;
		width: 160px;
    }
}

@media screen and (max-width: 850px) {
    .circle {
        height: 100px;
		width: 145px;
    }
}

@media screen and (max-width: 760px) {
    .circle {
        height: 200px;
		width: 245px;
    }
	
	h1 {
		font-size: 35px;
	}
	
	.col-2 {
		display: none;
	}
	
	.table {
		border: 1px solid #dee2e6;
	}
	
	h2 {
		border-bottom: 1px solid #dee2e6;
	}
}

@media screen and (max-width: 660px) {
    .circle {
        height: 170px;
		width: 215px;
    }
}


@media screen and (max-width: 590px) {
    .circle {
        height: 140px;
		width: 185px;
    }
}

@media screen and (max-width: 515px) {
    .circle {
        height: 120px;
		width: 160px;
    }
}
